body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* Navbar.js */
.navbar-top {
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 40px;
  padding: 1px 0px 1px 55px;
  margin: -15px 0 0 -5px;
}
/* App.js*/
hr {
  border-top: 1px solid rgb(209, 208, 208);
}
/* CheckoutCart.js*/
.edit-cart {
  display: flex;
}
.cart-input {
  margin-top: 20px;
  margin-left: 10px;
}
.delete-item {
  margin-left: 5px;
  margin-top: 17px;
}

.shopping-bag {
  text-align: center;
  font-family: Arial, sans-serif;
  align-items: center;
}
/* singleProduct page */
.single-product img {
}

/**********/
.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  margin: 2rem;
}

/* CheckoutCart style */
.title {
  text-align: left;
}
.total {
  text-align: right;
}
.checkout-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: solid yellow; */
}
.checkout-items-box {
  /* border: solid cyan; */
  /* flex-grow: 2; */
  min-width: 70%;
  /* width: 50%%;
  height: auto; */
}
.checkout-box {
  /* border: solid blue; */
  min-width: 25%;
  /* flex-grow: 1; */
  /* width: 50%; */
}
.singeitem-div {
  /* border: solid red; */
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.singeitem-div img {
  width: 100px;
  height: auto;
  display: flex;
}
.detail {
  /* border: solid pink; */
  min-width: 50%;
}
.qty {
  padding-bottom: 18px;
}
.addorremove {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout {
  display: flex;
  justify-content: center;
  min-width: 70%;
}

/* confirmation page */
.confirmation-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
